<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/users">User list</a>
    </header>
    
    <main>
        <h1>Welcome...</h1>
        <h4>Enter your username:</h4>
        <form action="/admin/create-user" method="post">
            <input type="text" name="title">
            <button type="submit">Send</button>
        </form>
    </main>
</body>

</html>