<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= titleName %></title>
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/users">User list</a>
    </header>


    <main>
        <% if(users.length>0){ %>
        <h2>User list:</h2>
        <ul>
            <% for(const user of users) { %>
            <li><%= user.username %></li>
            <% }%>
        </ul>
        <% } else {%>
            <h3>No user data</h3>
        <% }%>
    </main>
</body>

</html>